# local config
conf/config.local.json

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# bower dependency directory (defined in .bowerrc)
bower_components

# gernerated content json files
src/content/json

# copied images
src/content/img

# node dependency directory
node_modules

#python
*.pyc

# sass
.sass-cache/

# mac
.DS_Store

# node
npm-debug.log

# sublime text config files
kazoosh.sublime-project
kazoosh.sublime-workspace