<header class="banner" style="background-image: url('{{content.images[0]}}');">
	<div class="large-12 columns">
		<div class="title-box">
			<a ui-sref="content({path: 'root/workshops'})"><h3>Workshops</h3></a>
			<h2><span>{{content.title}}</span></h2>
		</div>
	</div>
</header>

<div class="teaser-box">
	<ul class="row">
		<li class="small-12 medium-12 large-12 columns end">
			<p>{{content.teaser}}</p>
		</li>
	</ul>
</div>

<div class="row">
	<div ng-if="content.video" class="small-12 medium-12 large-6  columns end">
		<div class="aspect-wrapper ratio_16x9">
			<div class="picture-content">
				<iframe ng-src="{{content.video | trustAsResourceUrl}}" height="100%" width="100%"></iframe>
			</div>
		</div>
	</div>
	<div ng-if="!content.video" class="small-12 medium-12 large-6  columns end">
		<a href="{{content.images[1]}}" class="swipebox">
			<div class="aspect-wrapper ratio_16x9">
				<div class="picture-content enable-hover" style="background-image: url('{{content.images[1]}}');"></div>
			</div>
		</a>
	</div>
	<div class="show-for-large-up large-6 columns end">
		<a href="{{content.images[2]}}" class="swipebox">
			<div class="aspect-wrapper ratio_16x9">
				<div class="picture-content enable-hover" style="background-image: url('{{content.images[2]}}');"></div>
			</div>
		</a>
		<a class="swipebox" href="{{image}}" ng-repeat="image in content.images | limitTo : -(content.images.length-3)"></a>
	</div>
	<div class="large-12 columns end">
		<a href="{{content.images[1]}}" class="swipebox button">Zur Galerie</a>
	</div>
</div>

	<div class="row">
	<div class="small-12 medium-8 large-9 columns end">
		<div ng-bind-html="content.html"></div>
		<h3>Teilnehmer</h3>
		<!-- simple no pic -->
		<ul ng-controller="ParticipantsCtrl" class="participants">
			<li ng-repeat="participant in participants | orderBy:'toString()'" class="small-12 medium-6 large-4 columns end">
				<a ui-sref="content({path: participant.path})">
					{{participant.firstname}} {{participant.lastname}}</a>  {{participant.profession}}	
			</li>
		</ul>
	</div>	
	<div class="small-12 medium-4 large-3 columns end info-box">
		<h5>{{content.title}}</h4>
		<p>
		{{content.location}} - {{content.date}}</p>
		<h6 ng-if="content.festival">Im Rahmen von</h6>
		<p ng-if="content.festival_link">
		<a ng-if="content.festival_link" href="{{content.festival_link}}">{{content.festival}}</a>
		<span ng-if="content.festival_link && content.festival_teaser"> - {{content.festival_teaser}}</span>
		<p ng-if="!content.festival_link">{{content.festival}}
		<span ng-if="content.festival_teaser"> - {{content.festival_teaser}}</span>
		</p>
		<h6 ng-if="content.partner">In Kooperation mit</h6>
		<p>
		<a href="{{content.partner_link}}">{{content.partner}}</a>
		</p>
		<p ng-if="content.material"> 
			<a href="{{content.material}}">Workshop-Material</a>
		</p>
	</div>
</div>