<header class="banner" style="background-image: url('{{content.images[0]}}');">
	<div class="large-12 columns">
		<div class="title-box">
			<h2><span>{{content.title}}</span></h2>
		</div>
	</div>
</header>

<div class="teaser-box">
	<ul class="row">
			<li class="small-12 medium-12 large-12 columns end">
				<div ng-bind-html="content.html"/>
			</li>
	</ul>
</div>

<!-- active members -->
<ul class="row mitglieder-overview">
	<li ng-repeat="subpage in content.subpages | orderBy: 'firstname'" class="small-6 medium-3 large-2 columns end" ng-if="subpage.status == 'active'">
		<a ui-sref="content({path: subpage.path})" class="grid-box" >	
			<div class="aspect-wrapper">
				<div class="picture-content round-frame" style="background-image: url('{{subpage.images[0]}}');">	
				</div>
			</div>

				<h3>{{subpage.firstname}} {{subpage.lastname}}</h3>
				<h4>{{subpage.profession}}</h4>

		</a>
	</li>
</ul>

<!-- inactive, former members -->
<ul class="row">
	<li class="small-12 medium-12 large-12 columns end">
		<h2>Ehemalige Köpfe</h2>
	</li>
</ul>

<ul class="row mitglieder-former-overview">
	<li ng-repeat="subpage in content.subpages | orderBy: 'firstname'" class="small-12 medium-6 large-4 columns end" ng-if="subpage.status != 'active'">
		<a ui-sref="content({path: subpage.path})" >
				{{subpage.firstname}} {{subpage.lastname}}
				<span ng-if="subpage.profession"> . {{subpage.profession}}</span>

		</a>
	</li>
</ul>
